OddsCheckerNBAScrapper/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "OddsCheckerNBAScrapper"
		},
		"OddsScrapperSQL_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'OddsScrapperSQL'"
		},
		"OddsCheckerNBA_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://www.oddschecker.com/basketball/nba"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/CopyPipeline_n4m')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy_n4m",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Clear Table",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "/1"
							},
							{
								"name": "Destination",
								"value": "dbo.OddsChecker_NBA_4"
							}
						],
						"typeProperties": {
							"source": {
								"type": "WebSource"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"validateDataConsistency": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Column2",
											"type": "String"
										},
										"sink": {
											"name": "Oteams",
											"type": "String",
											"physicalType": "nchar"
										}
									},
									{
										"source": {
											"name": "Column6",
											"type": "String"
										},
										"sink": {
											"name": "Oodds_1",
											"type": "String",
											"physicalType": "nchar"
										}
									},
									{
										"source": {
											"name": "Column7",
											"type": "String"
										},
										"sink": {
											"name": "Oodds_2",
											"type": "String",
											"physicalType": "nchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SourceDataset_n4m",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DestinationDataset_n4m",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Fill Odds",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Copy_n4m",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[UpdateOdds]"
						},
						"linkedServiceName": {
							"referenceName": "OddsScrapperSQL",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Clear Table",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[ClearOddsChecker]"
						},
						"linkedServiceName": {
							"referenceName": "OddsScrapperSQL",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Send Email",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Fill Odds",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://oddscheckernotification.azurewebsites.net:443/api/OddsCheckerSQLNotification/triggers/manual/invoke?api-version=2020-05-01-preview&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=-wTqAWfgYJxApyj2RVd6QaAHIYv2UKu_eva6ueiRB0U",
							"method": "POST",
							"headers": {},
							"body": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SourceDataset_n4m')]",
				"[concat(variables('factoryId'), '/datasets/DestinationDataset_n4m')]",
				"[concat(variables('factoryId'), '/linkedServices/OddsScrapperSQL')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DestinationDataset_n4m')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "OddsScrapperSQL",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Otimestamp",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Oteams",
						"type": "nchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "Oodds_1",
						"type": "nchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "Oodds_1_1",
						"type": "int",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "Oodds_1_2",
						"type": "nchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "Oodds_2",
						"type": "nchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "Oodds_2_1",
						"type": "int",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "Oodds_2_2",
						"type": "int",
						"precision": 10,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "OddsChecker_NBA_4"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/OddsScrapperSQL')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourceDataset_n4m')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "OddsCheckerNBA",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "WebTable",
				"schema": [],
				"typeProperties": {
					"index": 1
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/OddsCheckerNBA')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/OddsCheckerNBA')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "Web",
				"typeProperties": {
					"url": "[parameters('OddsCheckerNBA_properties_typeProperties_url')]",
					"authenticationType": "Anonymous"
				},
				"connectVia": {
					"referenceName": "integrationRuntime1",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/integrationRuntime1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/OddsScrapperSQL')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('OddsScrapperSQL_connectionString')]"
				},
				"connectVia": {
					"referenceName": "integrationRuntime1",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/integrationRuntime1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/integrationRuntime1')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		}
	]
}